.gallery-container {
    position: relative;
}
.slide {
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 15px;
    margin-top: -50px;
    color: var(--gray-l);
    font-weight: 700;
    font-size: 22px;
    border-radius: 0 5px 5px 0;
}
.next {
    right: 1%;
    border-radius: 5px 0 0 5px;
}
.prev:hover, .next:hover {
    background-color: #f2f2f2;
    opacity: 0.5;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column2, .column3, .column4, .column5, .column6, .column7, .column8, .column9, .column10 {
    float: left;
    margin: 0;
    padding: 5px;
}
.column2 {
    width: calc(100%/2);
}
.column3 {
    width: calc(100%/3);
}
.column4 {
    width: calc(100%/4);
}
.column5 {
    width: calc(100%/5);
}
.column6 {
    width: calc(100%/6);
}
.column7 {
    width: calc(100%/7);
}
.column8 {
    width: calc(100%/8);
}
.column9 {
    width: calc(100%/9);
}
.column10 {
    width: calc(100%/10);
}
.thumb-trans {
    opacity: 0.3;
}
.active, .thumb-trans:hover {
    opacity: 1;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}